.App {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.App__Nav {
  padding: .33em 0;
  margin-bottom: .66em;
  font-size: 133%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.App__Nav a {
  flex: 1;
}
